<html xmlns:th="http://www.thymeleaf.org">

<!--FOOTER FRAGMENT 선언-->
<th:block th:fragment="footerFragment">

<!-- FOOTER -->
<footer class="footer">
	<div class="footer-inner">
		<p class="footer-left">© 2023 hanma information system Inc. All Rights Reserved.</p>
		<div class="footer-right">
			<img class="image-hanma" src="/assets/images/logo_footer_hanma.png" alt="HANMA">
			<img class="image-shhinhan" src="/assets/images/logo_footer_shinhan.png" alt="SHINHAN BANK">
		</div>
	</div>
</footer>
<!-- // FOOTER -->

</th:block>

</html>