<html xmlns:th="http://www.thymeleaf.org">
<!--scriptFragment 선언-->
<th:block th:fragment="scriptFragment">
	<script type="text/javascript" th:src="@{/assets/js/libs/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/libs/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/libs/swiper-bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/libs/gsap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/libs/EasePack.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/libs/useragent.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/common-api.js}"></script>
</th:block>
</html>