<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">

<head></head>

<th:block layout:fragment="content">

				<div class="contents-inner">
					<!-- TITLE, HISTORY, HELP -->
					<div class="heading-group">
						<h2 class="h2">기관정보</h2>
						<div class="history-group">
							<ul>
								<li>
									<a href="javascript:;" class="button-home"><span class="blind">홈</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>연계환경관리</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>기관정보</span></a>
								</li>
							</ul>
							<button type="button" class="button-helper" onclick="$.popup.open(this,'#helpPopup')"><span>도움말</span></button>
						</div>
					</div>
					<!-- // TITLE, HISTORY, HELP -->

					<!-- SECTION : CONTENT -->
					<section class="section-group">
						<div class="table-group data">
							<table>
								<colgroup>
									<!-- <col style="width:8%;"> -->
									<col style="width:19%;">
									<col style="width:19%;">
									<col style="width:18%;">
								</colgroup>
								<thead>
									<tr>
										<!-- <th>선택</th> -->
										<th>기관코드</th>
										<th>기관명</th>
										<th>사업자등록번호</th>
									</tr>
								</thead>
								<tbody>
									<th:block  th:if="${ not #arrays.isEmpty(instInfoList)}" th:each="inst : ${instInfoList}" >
									<tr>
										<!-- <td>
											<div class="check-group">
												<input type="checkbox" name="instChk" th:id="${inst.instCd}">
												<label th:for="${inst.instCd}"></label>
											</div>					
										</td> -->
										<td><button type="button" name="detailBtn"><span th:text="${inst.instCd}"></span></button></td>
										<td th:text="${inst.instNm}"></td>
										<td th:text="${inst.bizrNo}"></td>
									</tr>									
									</th:block>
									<th:block  th:if="${#arrays.isEmpty(instInfoList)}" >
										<tr>
											<td colspan="7">조회된 데이터가 없습니다.</td>
										</tr>
									</th:block>									
								</tbody>
							</table>
						</div>
						<th:block th:replace="fragments/page :: pageFragment"></th:block>
						<div class="btn-group flex content-end mgt-52">
							<button type="button" class="button-ui" name="registerBtn"><span>등록</span></button>
							<!-- <button type="button" class="button-ui line" name="viewDetailBtn"><span>상세조회</span></button> -->					
							<!-- <button type="button" name=getListBtn class="button-ui line"><span>목록조회</span></button> -->
						</div>
					</section>
					<!-- // SECTION : CONTENT -->
				</div>
	<!-- // WRAPPER -->

	<!-- POPUP : 상세조회 -->
	<div class="popup-group default" id="listSearchPop" role="dialog" aria-labelledby="title-dialog"
		aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">기관정보 수정</h3>
				</div>
				<div class="popup-body">
					<div class="popup-inner">
						<div class="label-group flex">
							<label for="pw0" class="title">기관코드</label>
							<div class="input-group">
								<input type="text" class="input-ui" placeholder="기관코드 입력" maxlength="8" name="instCd" id="instCd" th:value="${inst?.instCd}" disabled	>
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw1" class="title">기관명</label>
							<div class="input-group">
								<input type="text" class="input-ui" placeholder="기관명 입력" name="instNm" id="instNm" th:value="${inst?.instNm}">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw2" class="title">사업자등록번호</label>
							<div class="input-group">
								<input type="text" class="input-ui" placeholder="사업자등록번호 입력" maxlength="10" name="bizrNo" id="bizrNo" th:value="${inst?.bizrNo}">
							</div>
						</div>
						<div class="btn-group flex content-center mgt-26">
							<button type="button" class="button-ui" name="updateBtn"><span>저장</span></button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- // POPUP : 상세조회 -->

	<!-- POPUP : 등록 -->
	<div class="popup-group default" id="registrationPop" role="dialog" aria-labelledby="title-dialog"
		aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">기관정보 등록</h3>
				</div>
				<div class="popup-body">
					<div class="popup-inner">
						<div class="label-group flex">
							<label for="pw10" class="title">기관코드</label>
							<div class="input-group">
								<input type="text" class="input-ui" placeholder="기관코드 입력(영문, 숫자  최대 8자)" maxlength="8" name="instCd" id="instCd">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw11" class="title">기관명</label>
							<div class="input-group">
								<input type="text" class="input-ui" placeholder="기관명 입력" maxlength="100" name="instNm" id="instNm">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw12" class="title">사업자등록번호</label>
							<div class="input-group">
								<input type="text" class="input-ui" placeholder="사업자등록번호 입력" maxlength="10" name="bizrNo" id="bizrNo">
							</div>
						</div>
						<div class="btn-group flex content-center mgt-26">
							<button type="button" class="button-ui" name="registerBtn"><span>저장</span></button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- // POPUP : 등록 -->

	<!-- POPUP : 도움말 -->
	<div class="popup-group default" id="helpPopup" role="dialog" aria-labelledby="title-dialog"
		aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">기관정보 도움말</h3>
				</div>
				<div class="popup-body">
					<div class="popup-inner">
						<p>설명이 있습니다.</p>
						<div class="btn-group flex content-center mgt-26">
							<button type="button" class="button-ui line close"><span>닫기</span></button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- POPUP : 도움말 -->
	<form method="post" name="instInfoListForm" action="/instInfo">
	</form>

<!-- content 스크립트 추가 -->
<script th:inline="javascript">
/*<![CDATA[*/
    
	$(document).ready(function(){	
    	console.log('');
    	// 등록 팝업 
		$('button[name=registerBtn]').click((e) => {
			e.preventDefault();
			$.popup.open(this,'#registrationPop', (popup)=>{
			});
		});
    	// 등록 팝업에서 저장  
		$('#registrationPop button[name=registerBtn]').click((e) => {
			
   			if($.isEmpty($('#registrationPop #instCd').val())) {
   				$.alert("기관코드를 입력해 주세요.");
   				$('#registrationPop #instCd').focus();
	   			return;
   			}
   			if($.isEmpty($('#registrationPop #instNm').val())) {
   				$.alert("기관명을 입력해 주세요.");
   				$('#registrationPop #instNm').focus();
	   			return;
   			}
   			if($.isEmpty($('#registrationPop #bizrNo').val())) {
   				$.alert("사업자등록번호는 숫자 10자리로 입력해 주세요.");
   				$('#registrationPop #bizrNo').focus();
	   			return;
   			}
   			
			e.preventDefault();			
			register();
		});    	
    	// 상세 조회 
    	$('button[name=detailBtn]').click((e) => {
			e.preventDefault();			
			$.popup.open(this,'#listSearchPop', (popup)=>{
				get($(e.currentTarget).children().text());
			});
    	});
		/* $('button[name=viewDetailBtn]').click((e) => {
			
			let selectedInfo = '';
			$('input[name=instChk]').each((index, obj)=>{
				if($(obj).is(':checked'))
					selectedInfo = $(obj).attr('id');
			});
			
			if(selectedInfo == '') {
				$.alert('선택된 기관이 없습니다.');
				return;
			}
			
			e.preventDefault();			
			$.popup.open(this,'#listSearchPop', (popup)=>{
				// initPopup();
				let instCd = $('input[name=instChk]:checked').attr('id');
				//popup.find('input[name=instCd]').val(instCd);
				
				get(instCd);
			});
		}); */
    	// 상세조회 팝업에서 저장  
		$('#listSearchPop button[name=updateBtn]').click((e) => {

   			if($.isEmpty($('#listSearchPop #instNm').val())) {
   				$.alert("기관명을 입력해 주세요.");
   				$('#listSearchPop #instNm').focus();
	   			return;
   			}
   			if($.isEmpty($('#listSearchPop #bizrNo').val())) {
   				$.alert("사업자등록번호는 숫자 10자리로 입력해 주세요.");
   				$('#listSearchPop #bizrNo').focus();
	   			return;
   			}
   			
			e.preventDefault();			
			modify();
		});    	
		// 단일 선택 처리 
		$('input[name=instChk]').click((e) => {
			$('input[name=instChk]').each((index,obj) => {
				if (e.target != obj) {
					obj.checked = false;	
				}				
			});			
		});
		
		// 목록 조회
    	$('button[name=getListBtn]').click((e) => {
    		e.preventDefault();
        	// document.bjListForm.field1.value = $('#field1').val();
        	$.submit(document.instInfoListForm);
    	});		
    });

    const setErrMsg = (err, msg, isNone) => {
		err.text(msg);
		isNone ? err.addClass('none') : err.removeClass('none');
	}

    // 등록
    this.register = function() {
    	
    	var reqData = {

    		instCd: 			$('#registrationPop #instCd').val(),
    		instNm:			$('#registrationPop #instNm').val(),
    		bizrNo:		$('#registrationPop #bizrNo').val()
    	};
    	
        $.ajax({
            type: 'POST',
            url: `/inst/registerInstInfo`,
            data:reqData
        })
        .done(function (result) {
        	console.log('');
        	$.alert('저장되었습니다', () => {
				$.submit(document.instInfoListForm, 1);
	   		}) 
        })
       .fail(function(jqXHR) {
            console.log(jqXHR);
            $.alert('저장이 실패했습니다');
        })
        .always(function(jqXHR) {
        	console.log("jqXHR:"+jqXHR);
        	
        });
    };    
    
    // 수정 
    this.modify = function() {
    	
    	var reqData = {

    		instCd: 			$('#listSearchPop #instCd').val(),
    		instNm:			$('#listSearchPop #instNm').val(),
    		bizrNo:		$('#listSearchPop #bizrNo').val()
    	};
    	
        $.ajax({
            type: 'POST',
            url: `/inst/modifyInstInfo`,
            data:reqData
        })
        .done(function (result) {
        	console.log('');
        	$.alert('저장되었습니다', () => {
				$.submit(document.instInfoListForm, 1);
	   		}) 
        })
       .fail(function(jqXHR) {
            console.log(jqXHR);
            $.alert('저장이 실패했습니다');
        })
        .always(function(jqXHR) {
        	
        });
    };   
    // 상세 조회 
    this.get = function(reqValue) {    	
    	var reqData = {
    		instCd: reqValue
    	};
    	
        $.ajax({
            type: 'POST',
            url: `/inst/getInstInfo`,
            data:reqData
        })
        .done(function (result) {
        	//$('#listSearchPop').replaceWith(result.inst);
        	$('#listSearchPop').find('input[name=instCd]').val(result.instInfo.instCd);
        	$('#listSearchPop').find('input[name=instNm]').val(result.instInfo.instNm);
        	$('#listSearchPop').find('input[name=bizrNo]').val(result.instInfo.bizrNo);
        })
       .fail(function(jqXHR) {
            console.log(jqXHR);
        });

    };
    
	const pageClick = (pageIndex) => {
		$.loading(true, () => {
	    	$.submit(document.instInfoListForm, pageIndex);
		});
    }
/*]]>*/
</script>
	  	
</th:block>

</html>