<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
	<title>HIBS - HANMA INFORMATION BANKING SYSTEM</title>
	<link rel="stylesheet" href="/assets/css/libs/swiper.min.css">
	<link rel="stylesheet" href="/assets/css/ui_common.css">
	<script type="text/javascript" src="/assets/js/libs/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/gsap.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/EasePack.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/useragent.js"></script>
	<!-- 개발시 아래 header_footer_guide.js 삭제 -->
	<script type="text/javascript" src="/assets/js/header_footer_guide.js"></script>
	<script type="text/javascript" src="/assets/js/ui_common.js"></script>
</head>
<body>
	<div class="skip-menu">
		<a href="#container">본문바로가기</a>
	</div>
	<!-- // WRAPPER -->
	<div class="wrapper">
		<!-- HEADER -->
		<header class="header">
		</header>
		<!-- HEADER -->

		<!-- MAIN -->
		<div class="container" role="main" id="container">
			<div class="contents">
				<!-- NAVIGATION -->
				<nav class="navi-group">
				</nav>
				<!-- // NAVIGATION -->

				<div class="contents-inner">
					<!-- TITLE, HISTORY, HELP -->
					<!-- <div class="heading-group ">
						<h2 class="h2">사용자정보</h2>
						<div class="history-group">
							<ul>
								<li>
									<a href="javascript:;" class="button-home"><span class="blind">홈</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>사용자관리</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>사용자정보</span></a>
								</li>
							</ul>
							<button type="button" class="button-helper"><span>도움말</span></button>
						</div>
					</div> -->
					<!-- // TITLE, HISTORY, HELP -->

					<!-- SECTION : CONTENT -->
					<section class="section-group">
						<div class="situation-group">
							<ul class="situation-lists">
								<li>
									<h3 class="h3">서버현황</h3>
									<ul class="bullet-lists server">
										<li>
											<span class="bullet dot ellipsis">운영서버1 실시간</span>
											<span class="status on"></span>
										</li>
										<li>
											<span class="bullet dot ellipsis">운영서버1 배치</span>
											<span class="status on"></span>
										</li>
										<li>
											<span class="bullet dot ellipsis">운영서버1 수신</span>
											<span class="status on"></span>
										</li>
										<li>
											<span class="bullet dot ellipsis">운영서버2 실시간</span>
											<span class="status off"></span>
										</li>
										<li>
											<span class="bullet dot ellipsis">운영서버2 수신</span>
											<span class="status off"></span>
										</li>
										<li>
											<span class="bullet dot ellipsis">운영서버2 수신</span>
											<span class="status off"></span>
										</li>
									</ul>
								</li>
								<li>
									<h3 class="h3">이체현황</h3>
									<ul class="bullet-lists">
										<li>
											<span class="bullet dot ellipsis">어제 정산 79건</span>
										</li>
										<li>
											<span class="bullet dot ellipsis">어제 오류 5건</span>
										</li>
										<li>
											<span class="bullet dot ellipsis">당일 정상 31건</span>
										</li>
										<li>
											<span class="bullet dot ellipsis">당일 오류 3건</span>
										</li>
									</ul>
								</li>
								<li>
									<h3 class="h3">알림</h3>
									<ul class="bullet-lists">
										<li>
											<a href="javascript:;" class="bullet dot ">
												<span class="ellipsis">알려드립니다.</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" class="bullet dot ellipsis">
												<span class="ellipsis">수고하십시오.</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" class="bullet dot ellipsis">
												<span class="ellipsis">오늘의 날씨는 매우 따뜻할것으로 예상됩니다.</span>
											</a>
										</li>
										<li>
											<a href="javascript:;" class="bullet dot ellipsis">
												<span class="ellipsis">기타 등등</span>
											</a>
										</li>
										
									</ul>
								</li>
								<li>
									<h3 class="h3">계좌현황</h3>
									<ul class="bullet-lists">
										<li>
											<span class="bullet dot ellipsis">모계좌 3개</span>
										</li>
										<li>
											<span class="bullet dot ellipsis">가상계좌 154개</span>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</section>
					<!-- // SECTION : CONTENT -->
				</div>
			</div>
		</div>
		<!-- // MAIN -->

		<!-- FOOTER -->
		<footer class="footer">
		</footer>
		<!-- // FOOTER -->
	</div>
	<!-- // WRAPPER -->
</body>

</html>