<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
	<title>HIBS - HANMA INFORMATION BANKING SYSTEM</title>
	<link rel="stylesheet" href="/assets/css/libs/swiper.min.css">
	<link rel="stylesheet" href="/assets/css/ui_common.css">
	<script type="text/javascript" src="/assets/js/libs/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/gsap.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/EasePack.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/useragent.js"></script>
	<!-- 개발시 아래 header_footer_guide.js 삭제 -->
	<script type="text/javascript" src="/assets/js/header_footer_guide.js"></script>
	<script type="text/javascript" src="/assets/js/ui_common.js"></script>
</head>
<body>
	<div class="skip-menu">
		<a href="#container">본문바로가기</a>
	</div>
	<!-- // WRAPPER -->
	<div class="wrapper" id="wrapper">
		<!-- HEADER -->
		<header class="header">
		</header>
		<!-- HEADER -->

		<!-- MAIN -->
		<div class="container" role="main" id="container">
			<div class="contents">
				<!-- NAVIGATION -->
				<nav class="navi-group">
				</nav>
				<!-- // NAVIGATION -->

				<div class="contents-inner">
					<!-- TITLE, HISTORY, HELP -->
					<div class="heading-group">
						<h2 class="h2">로그정보</h2>
						<div class="history-group">
							<ul>
								<li>
									<a href="javascript:;" class="button-home"><span class="blind">홈</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>연계환경관리</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>로그정보</span></a>
								</li>
							</ul>
							<button type="button" class="button-helper" onclick="hibs.popup.open(this,'#helpPopup')"><span>도움말</span></button>
						</div>
					</div>
					<!-- // TITLE, HISTORY, HELP -->

					<!-- SECTION : CONTENT -->
					<section class="section-group">
						<div class="table-group search">
							<table>
								<colgroup>
									<col style="width:160px;">
									<col style="width:320px;">
									<col style="width:160px;">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th>인스턴스명<span class="ico-neccesory"><span class="blind">필수입력</span></span></th>
										<td>
											<select name="" id="" class="w260">
												<option value="">전체</option>
												<option value="">1</option>
												<option value="">2</option>
												<option value="">3</option>
											</select>
										</td>
										<th>검색어</th>
										<td>
											<div class="input-group">
												<input type="text" class="input-ui w260" placeholder="검색어 입력">
											</div>
										</td>
									</tr>
									<tr>
										<th>조회일자<span class="ico-neccesory"><span class="blind">필수입력</span></span></th>
										<td colspan="3">
											<div class="calendar-group">
												<div class="input-group w260">
													<input type="text" class="input-ui" placeholder="YYYY.MM.DD" id="startDate0">
													<button type="button" class="button-cal"
														onclick="$('#startDate0').datepicker('show');"><span
															class="blind">시작날짜선택</span></button>
												</div>
												<span class="unit">~</span>
												<div class="input-group w260">
													<input type="text" class="input-ui" placeholder="YYYY.MM.DD" id="endDate0">
													<button type="button" class="button-cal" onclick="$('#endDate0').datepicker('show');"><span
															class="blind">종료날짜선택</span></button>
												</div>
											</div>
											<script>
												$(document).ready(function () {
													$.datepicker.setDefaults($.datepicker.regional['ko']);
													$("#startDate0").datepicker({
														dateFormat: "yy.mm.dd",
														yearSuffix: "년",
														nextText: '다음 달',
														prevText: '이전 달',
														dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
														monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
														monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
														showMonthAfterYear: true,
														onClose: function (selectedDate) {
															$("#endDate0").datepicker("option", "minDate", selectedDate);
														}
													});
													$("#endDate0").datepicker({
														dateFormat: "yy.mm.dd",
														yearSuffix: "년",
														nextText: '다음 달',
														prevText: '이전 달',
														dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
														monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
														monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
														showMonthAfterYear: true,
														onClose: function (selectedDate) {
															$("#startDate0").datepicker("option", "maxDate", selectedDate);
														}
													});
												});
											</script>
										</td>
									</tr>
									<tr>
										<th>로그구분</th>
										<td colspan="3">
											<div class="input-group">
												<input type="text" class="input-ui w260" placeholder="로그구분 입력">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="btn-group flex content-center mgt-30">
							<button type="button" class="button-ui"><span>검색</span></button>
						</div>

						<div class="table-group data mgt-52 scrollx">
							<table>
								<colgroup>
									<col width="29%">
									<col width="29%">
									<col width="29%">
									<col width="13%">
								</colgroup>
								<thead>
									<tr>
										<th>인스턴스명</th>
										<th>UUID</th>
										<th>로그구분</th>
										<th>상세로그</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>
											<div class="flex content-center">
												<button type="button" class="button-ui small" onclick="hibs.popup.open(this,'#detailPop')"><span>확인</span></button>
											</div>
										</td>
									</tr>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>
											<div class="flex content-center">
												<button type="button" class="button-ui small"><span>확인</span></button>
											</div>
										</td>
									</tr>
									<tr>
										<td>-</td>
										<td>-</td>
										<td>-</td>
										<td>
											<div class="flex content-center">
												<button type="button" class="button-ui small"><span>확인</span></button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
						<div class="page-group mgt-42">
							<a href="javascript:;" class="button-page first"><span class="blind">처음페이지로 이동</span></a>
							<a href="javascript:;" class="button-page prev"><span class="blind">이전페이지로 이동</span></a>
							<a href="javascript:;" class="button-page current"><span>1</span></a>
							<a href="javascript:;" class="button-page"><span>2</span></a>
							<a href="javascript:;" class="button-page"><span>3</span></a>
							<a href="javascript:;" class="button-page"><span>4</span></a>
							<a href="javascript:;" class="button-page"><span>5</span></a>
							<a href="javascript:;" class="button-page next"><span class="blind">다음페이지로 이동</span></a>
							<a href="javascript:;" class="button-page last"><span class="blind">마지막페이지로 이동</span></a>
						</div>
					</section>
					<!-- // SECTION : CONTENT -->
				</div>
			</div>
		</div>
		<!-- // MAIN -->

		<!-- FOOTER -->
		<footer class="footer">
		</footer>
		<!-- // FOOTER -->
	</div>
	<!-- // WRAPPER -->

	<!-- POPUP : 상세로그 확인 -->
	<div class="popup-group default" id="detailPop" role="dialog" aria-labelledby="title-dialog"
		aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">상세로그</h3>
				</div>
				<div class="popup-body">
					<div class="popup-inner">
						<div class="table-group data align-left">
							<table>
								<colgroup>
									<col style="width:160px;">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th>인스턴스명</th>
										<td>aaa</td>
									</tr>
									<tr>
										<th>UUID</th>
										<td>-</td>
									</tr>
									<tr>
										<th>로그구분</th>
										<td></td>
									</tr>
									<tr>
										<th>생성일자</th>
										<td>2023.03.01~2023.03.20</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="poplog-group mgt-26 ui-scroll">
							log log log loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog log log log loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog
							loglog loglog loglog loglog loglog loglog loglog logloglog log log loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog
							loglog loglog loglog loglog loglog loglog loglog logloglog log log loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog loglog
							loglog loglog loglog loglog loglog loglog loglog loglog
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- // POPUP : 상세로그 확인 -->

	<!-- POPUP : 도움말 -->
	<div class="popup-group default" id="helpPopup" role="dialog" aria-labelledby="title-dialog" aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">로그정보 도움말</h3>
				</div>
				<div class="popup-body">
					<div class="popup-inner">
						<p>설명이 있습니다.</p>
						<div class="btn-group flex content-center mgt-26">
							<button type="button" class="button-ui line close"><span>닫기</span></button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- POPUP : 도움말 -->
</body>

</html>