<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
	<title>HIBS - HANMA INFORMATION BANKING SYSTEM</title>
	<link rel="stylesheet" href="/assets/css/libs/swiper.min.css">
	<link rel="stylesheet" href="/assets/css/ui_common.css">
	<script type="text/javascript" src="/assets/js/libs/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/gsap.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/EasePack.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/useragent.js"></script>
	<!-- 개발시 아래 header_footer_guide.js 삭제 -->
	<script type="text/javascript" src="/assets/js/header_footer_guide.js"></script>
	<script type="text/javascript" src="/assets/js/ui_common.js"></script>
</head>

<body>
	<div class="skip-menu">
		<a href="#container">본문바로가기</a>
	</div>
	<!-- // WRAPPER -->
	<div class="wrapper" id="wrapper">
		<!-- HEADER -->
		<header class="header">
		</header>
		<!-- HEADER -->

		<!-- MAIN -->
		<div class="container" role="main" id="container">
			<div class="contents">
				<!-- NAVIGATION -->
				<nav class="navi-group">
				</nav>
				<!-- // NAVIGATION -->

				<div class="contents-inner">
					<!-- TITLE, HISTORY, HELP -->
					<div class="heading-group">
						<h2 class="h2">배치기본정보</h2>
						<div class="history-group">
							<ul>
								<li>
									<a href="javascript:;" class="button-home"><span class="blind">홈</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>연계환경관리</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>배치기본정보</span></a>
								</li>
							</ul>
							<button type="button" class="button-helper"
								onclick="hibs.popup.open(this,'#helpPopup')"><span>도움말</span></button>
						</div>
					</div>
					<!-- // TITLE, HISTORY, HELP -->

					<!-- SECTION : CONTENT -->
					<section class="section-group">
						<div class="table-group data">
							<table>
								<colgroup>
									<col style="width:8%;">
									<col style="width:19%;">
									<col style="width:19%;">
									<col style="width:18%;">
									<col style="width:18%;">
									<col style="width:18%;">
								</colgroup>
								<thead>
									<tr>
										<th>선택</th>
										<th>작업식별자</th>
										<th>작업설명</th>
										<th>작업유형</th>
										<th>입력데이터</th>
										<th>실행주기</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt0">
												<label for="ipt0"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt1">
												<label for="ipt1"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt2">
												<label for="ipt2"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt3">
												<label for="ipt3"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt4">
												<label for="ipt4"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt5">
												<label for="ipt5"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt6">
												<label for="ipt6"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt7">
												<label for="ipt7"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
									<tr>
										<td>
											<div class="check-group">
												<input type="checkbox" name="" id="ipt8">
												<label for="ipt8"></label>
											</div>
										</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
										<td>내용</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="btn-group flex content-end mgt-52">
							<button type="button" class="button-ui"
								onclick="hibs.popup.open(this,'#registrationPop')"><span>등록</span></button>
							<button type="button" class="button-ui line"
								onclick="hibs.popup.open(this,'#listSearchPop')"><span>상세조회</span></button>
							<button type="button" class="button-ui line"><span>목록조회</span></button>
						</div>
					</section>
					<!-- // SECTION : CONTENT -->
				</div>
			</div>
		</div>
		<!-- // MAIN -->

		<!-- FOOTER -->
		<footer class="footer">
		</footer>
		<!-- // FOOTER -->
	</div>
	<!-- // WRAPPER -->

	<!-- POPUP : 상세조회 -->
	<div class="popup-group default" id="listSearchPop" role="dialog" aria-labelledby="title-dialog"
		aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">배치기본정보 상세조회</h3>
				</div>
				<div class="popup-body">
					<div class="popup-inner">
						<div class="label-group flex">
							<label for="pw0" class="title">작업식별자</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="작업식별자 입력" id="pw0">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw1" class="title">작업설명</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="작업설명 입력" id="pw1">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw2" class="title">작업주기</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="작업주기 입력" id="pw2">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw3" class="title">작업유형</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="작업유형 입력" id="pw3">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw4" class="title">프로그램명</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="프로그램명 입력" id="pw4">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw5" class="title">입력데이터지시자</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="입력데이터지시자 입력" id="pw5">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw6" class="title">출력데이터지시자</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="출력데이터지시자 입력" id="pw6">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw7" class="title">예외정책</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="예외정책 입력" id="pw7">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw8" class="title">실행주기</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="실행주기 입력" id="pw8">
							</div>
						</div>

						<div class="btn-group flex content-center mgt-26">
							<button type="button" class="button-ui"><span>저장</span></button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- // POPUP : 상세조회 -->

	<!-- POPUP : 등록 -->
	<div class="popup-group default" id="registrationPop" role="dialog" aria-labelledby="title-dialog"
		aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">배치기본정보 등록</h3>
				</div>
				<div class="popup-body">
					<div class="popup-inner">
						<div class="label-group flex">
							<label for="pw10" class="title">작업식별자</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="작업식별자 입력" id="pw10">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw11" class="title">작업설명</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="작업설명 입력" id="pw11">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw12" class="title">작업주기</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="작업주기 입력" id="pw12">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw13" class="title">작업유형</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="작업유형 입력" id="pw13">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw14" class="title">프로그램명</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="프로그램명 입력" id="pw14">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw15" class="title">입력데이터지시자</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="입력데이터지시자 입력" id="pw15">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw16" class="title">출력데이터지시자</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="출력데이터지시자 입력" id="pw16">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw17" class="title">예외정책</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="예외정책 입력" id="pw17">
							</div>
						</div>
						<div class="label-group flex">
							<label for="pw18" class="title">실행주기</label>
							<div class="input-group">
								<input type="password" class="input-ui" placeholder="실행주기 입력" id="pw18">
							</div>
						</div>

						<div class="btn-group flex content-center mgt-26">
							<button type="button" class="button-ui"><span>저장</span></button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- // POPUP : 상세조회 -->

	<!-- POPUP : 도움말 -->
	<div class="popup-group default" id="helpPopup" role="dialog" aria-labelledby="title-dialog"
		aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">배치시간설정 도움말</h3>
				</div>
				<div class="popup-body">
					<div class="popup-inner">
						<p>설명이 있습니다.</p>
						<div class="btn-group flex content-center mgt-26">
							<button type="button" class="button-ui line close"><span>닫기</span></button>
						</div>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- POPUP : 도움말 -->
</body>

</html>