<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
	<title>HIBS - HANMA INFORMATION BANKING SYSTEM</title>
	<link rel="stylesheet" href="/assets/css/libs/swiper.min.css">
	<link rel="stylesheet" href="/assets/css/ui_common.css">
	<script type="text/javascript" src="/assets/js/libs/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/gsap.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/EasePack.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/useragent.js"></script>
	<!-- <script type="text/javascript" src="/assets/js/ui_common.js"></script> -->
	<!-- 개발시 아래 삭제 -->
	<!-- <script type="text/javascript" src="/assets/js/header_footer_guide.js"></script> -->
</head>
<body>
	<div class="skip-menu">
		<a href="#container">본문바로가기</a>
	</div>
	<!-- // WRAPPER -->
	<div class="wrapper join">
		<!-- MAIN -->
		<div class="container" role="main" id="container">
			<div class="contents">
				<section class="section-left">
					<h1 class="h1">
						<a href="" class="btn-logo" title="홈으로 이동"></a>
						<p>HANMA INFORMATION BANKING SYSTEM</p>
					</h1>
				</section>
				<section class="section-right">
					<header class="header-group">
						<h2 class="h2">회원가입</h2>
					</header>
					<div class="label-group">
						<label for="" class="title">아이디</label>
						<div class="input-group">
							<input type="text" class="input-ui" placeholder="아이디 입력" autofocus>
						</div>
						<p class="message warning none">중복된 아이디 입니다.</p><!-- 오류시 .none클래스 삭제 -->
					</div>
					<div class="label-group">
						<label for="" class="title">패스워드</label>
						<div class="input-group">
							<input type="password" class="input-ui" placeholder="패스워드 입력">
						</div>
					</div>
					<div class="label-group">
						<label for="" class="title">부서</label>
						<div class="input-group">
							<input type="text" class="input-ui" placeholder="부서 입력">
						</div>
					</div>
					<div class="label-group">
						<label for="" class="title">성명</label>
						<div class="input-group">
							<input type="text" class="input-ui" placeholder="성명 입력">
						</div>
					</div>
					<div class="label-group">
						<label for="" class="title">전화번호</label>
						<div class="input-group">
							<input type="text" class="input-ui" placeholder="-없이 입력">
						</div>
					</div>
					<div class="button-group text-right">
						<button type="button" class="button-ui large col-12">
							<span>저장</span>
						</button>
					</div>
				</section>
			</div>
		</div>
		<!-- // MAIN -->

		<!-- FOOTER -->
		<footer class="footer">
			<div class="footer-inner">
				<p class="footer-left">© 2023 hanma information system Inc. All Rights Reserved.</p>
				<div class="footer-right">
					<img class="image-hanma" src="/assets/images/logo_footer_hanma.png" alt="HANMA">
					<img class="image-shhinhan" src="/assets/images/logo_footer_shinhan.png" alt="SHINHAN BANK">
				</div>
			</div>
		</footer>
		<!-- // FOOTER -->
	</div>
	<!-- // WRAPPER -->

	<!-- POPUP -->
	<div class="popup-group default" id="popupSample" role="dialog" aria-labelledby="title-dialog" aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">팝업제목</h3>
					<p class="popup-desc blind" id="desc-txt">팝업 설명입니다.</p>
				</div>
				<div class="popup-body">
					<div class="popup-inner">

					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- POPUP -->
</body>

</html>