<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
	<title>HIBS - HANMA INFORMATION BANKING SYSTEM</title>
	<link rel="stylesheet" href="/assets/css/libs/swiper.min.css">
	<link rel="stylesheet" href="/assets/css/ui_common.css">
	<script type="text/javascript" src="/assets/js/libs/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/swiper-bundle.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/gsap.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/EasePack.min.js"></script>
	<script type="text/javascript" src="/assets/js/libs/useragent.js"></script>
	<!-- 개발시 아래 header_footer_guide.js 삭제 -->
	<script type="text/javascript" src="/assets/js/header_footer_guide.js"></script>
	<!-- <script type="text/javascript" src="/assets/js/ui_common.js"></script> -->
</head>
<body>
	<div class="skip-menu">
		<a href="#container">본문바로가기</a>
	</div>
	<!-- // WRAPPER -->
	<div class="wrapper">
		<!-- HEADER -->
		<header class="header">
			<div class="header-inner">
				<h1 class="h1">
					<a href="" class="btn-logo" title="홈으로 이동"></a>
					<p>HANMA INFORMATION BANKING SYSTEM</p>
				</h1>
				<div class="util-group">
					<div class="name manager">Hong gil-dong</div>
					<div class="time">2023.01.03 09:20:11</div>
					<div class="button-group">
						<button type="button" class="button-all"><span class="blind">전체메뉴</span></button>
					</div>
				</div>
			</div>
		</header>
		<!-- HEADER -->

		<!-- MAIN -->
		<div class="container" role="main" id="container">
			<div class="contents">
				<!-- NAVIGATION -->
				<nav class="navi-group">
				</nav>
				<!-- // NAVIGATION -->

				<div class="contents-inner">
					<!-- TITLE, HISTORY, HELP -->
					<div class="heading-group">
						<h2 class="h2">사용자정보</h2>
						<div class="history-group">
							<ul>
								<li>
									<a href="javascript:;" class="button-home"><span class="blind">홈</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>사용자관리</span></a>
								</li>
								<li>
									<a href="javascript:;" class="button-history"><span>사용자정보</span></a>
								</li>
							</ul>
							<button type="button" class="button-helper"><span>도움말</span></button>
						</div>
					</div>
					<!-- // TITLE, HISTORY, HELP -->

					<!-- SECTION : CONTENT -->
					<section class="section-group">
						
					</section>
					<!-- // SECTION : CONTENT -->
				</div>
			</div>
		</div>
		<!-- // MAIN -->

		<!-- FOOTER -->
		<footer class="footer">
			<div class="footer-inner">
				<p class="footer-left">© 2023 hanma information system Inc. All Rights Reserved.</p>
				<div class="footer-right">
					<img class="image-hanma" src="/assets/images/logo_footer_hanma.png" alt="HANMA">
					<img class="image-shhinhan" src="/assets/images/logo_footer_shinhan.png" alt="SHINHAN BANK">
				</div>
			</div>
		</footer>
		<!-- // FOOTER -->
	</div>
	<!-- // WRAPPER -->

	<!-- POPUP -->
	<div class="popup-group default" id="popupSample" role="dialog" aria-labelledby="title-dialog" aria-describedby="desc-txt">
		<div class="dim"></div>
		<div class="popup-content" tabindex="-1">
			<div class="popup-cover">
				<div class="popup-heading">
					<h3 class="popup-title" id="title-dialog">팝업제목</h3>
					<p class="popup-desc blind" id="desc-txt">팝업 설명입니다.</p>
				</div>
				<div class="popup-body">
					<div class="popup-inner">

					</div>
				</div>
			</div>
			<button type="button" class="btn btn-close"><span class="blind">팝업닫기</span></button>
		</div>
	</div>
	<!-- POPUP -->
</body>

</html>